.DS_Store
xcuserdata/
*.xcuserdata
.DS_Store
SimpleAppUsingAsync.xcodeproj/xcuserdata/Mahyar.xcuserdatad/xcschemes/xcschememanagement.plist
SimpleAppUsingAsync.xcodeproj/project.xcworkspace/xcuserdata/Mahyar.xcuserdatad/UserInterfaceState.xcuserstate
SimpleAppUsingAsync.xcodeproj/xcuserdata/Mahyar.xcuserdatad/xcschemes/xcschememanagement.plist
SimpleAppUsingAsync.xcodeproj/project.xcworkspace/xcuserdata/Mahyar.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
